<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td bgcolor="#ffffff" valign="top">

      <table width="600" cellpadding="0" cellspacing="0" align="center" style="font-family:Helvetica,Arial,sans-serif;background-color:#ffffff;line-height:1.5em;">
        <tr>
          <td valign="top">
            <br />
            <p><img src="http://{{ request.get_host }}{{ config.static_url }}css/images/visionzero-logo-blue-500.png" alt="Vision Zero" border="0" /></p>
            <br />
            <p>Thank you for <a href="http://{{ request.get_host }}/place/{{ place.id }}">sharing your knowledge of City streets</a>. Your involvement is key to making the City safer.</p>
            <p>Your input will be part of a Borough-wide Vision Zero traffic safety plan. Each borough's plan will outline new safety projects and enforcement strategies to address the issues that you and your neighbors have identified.</p>
            <p>Vision Zero workshops and town halls are happening throughout the city. <a href="http://www.nyc.gov/html/visionzero/pages/dialogue/events.html" title="Events - Vision Zero">Learn more about upcoming events</a>.</p>
            <p>Thanks again for your help.</p>
            
          </td>
        </tr>
        <tr>
          <td valign="top">
            <br />
            <br />
            <hr />
            <br />
            <br />
          </td>
        </tr>
      </table>
      <table width="600" cellpadding="0" cellspacing="0" align="center" style="font-family:Helvetica,Arial,sans-serif;background-color:#ffffff;">
        <tr>
          <td valign="top">
            <a href="http://nyc.gov/nypd" title="NYPD - Official New York City Police Department Web Site"><img src="http://www.nyc.gov/html/visionzero/assets/img/vz/logo/logo-nypd.jpg"></a>

            <a href="http://nyc.gov/dot" title="New York City Department of Transportation"><img src="http://www.nyc.gov/html/visionzero/assets/img/vz/logo/logo-dot.jpg"></a>

            <a href="http://nyc.gov/tlc" title="NYC Taxi & Limousine Commission"><img src="http://www.nyc.gov/html/visionzero/assets/img/vz/logo/logo-tlc.jpg"></a>
          </td>
          <td valign="top">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td valign="top">
            <p></p>
          </td>
        </tr>
      </table>

      <br />
      <br />

    </td>
  </tr>
</table>
